<div>
  <!-- 面包屑s -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- 搜索 -->
  <el-row :gutter="20">
    <el-col :span="8">
      <el-input
        placeholder="请输入内容"
        v-model="input3"
        class="input-with-select"
      >
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="search"
        ></el-button>
      </el-input>
    </el-col>
    <el-col :span="8">
      <el-button @click="addShow">添加用户</el-button>
    </el-col>
    <el-col :span="8"> </el-col>
  </el-row>
  <!-- table -->
  <el-table :data="userData" stripe style="width: 100%">
    <el-table-column prop="username" label="姓名" width="180"></el-table-column>
    <el-table-column prop="email" label="邮箱"> </el-table-column>
    <el-table-column prop="mobile" label="电话"> </el-table-column>
    <el-table-column prop="date" label="状态">
      <template slot-scope="scope">
        <el-switch
          @change="stateChange(scope.row)"
          v-model="scope.row.mg_state"
        >
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column prop="date" label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          plain
          type="primary"
          icon="el-icon-edit"
          @click="showEditUser(scope.row)"
        ></el-button>
        <el-button
          size="mini"
          plain
          type="danger"
          icon="el-icon-delete"
          @click="delUser(scope.row.id)"
        ></el-button>
        <el-button
          size="mini"
          plain
          type="success"
          icon="el-icon-check"
          @click="showAssignRole(scope.row)"
          >分配角色</el-button
        >
      </template>
    </el-table-column>
  </el-table>
  <!-- 分页 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :page-size="pagesize"
    :current-page="pagenum"
    @current-change="change"
  >
  </el-pagination>
  <!-- add -->
  <el-dialog
    @closed="dialogClose"
    title="添加用户"
    :visible.sync="dialogAddUserVisible"
  >
    <el-form
      ref="dialogRef"
      :model="adduserform"
      label-width="80px"
      :rules="rules"
    >
      <el-form-item label="用户名" prop="username">
        <el-input v-model="adduserform.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="adduserform.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="adduserform.email"></el-input>
      </el-form-item>
      <el-form-item label="手机号" prop="mobile">
        <el-input v-model="adduserform.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddUserVisible = false">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- edit -->
  <el-dialog title="编辑用户" :visible.sync="dialogEditUserVisible">
    <el-form
      ref="editRef"
      :model="edituserform"
      label-width="80px"
      :rules="rules"
    >
      <el-form-item label="用户名" prop="username">
        <el-tag>{{ edituserform.username }}</el-tag>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="edituserform.email"></el-input>
      </el-form-item>
      <el-form-item label="手机号" prop="mobile">
        <el-input v-model="edituserform.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditUserVisible = false">取 消</el-button>
      <el-button type="primary" @click="editUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- AssignRole -->
  <el-dialog title="分配角色" :visible.sync="dialogAssignRoleVisible">
    <el-form :model="AssignRoleform" label-width="80px">
      <el-form-item label="用户名">
        <el-tag>{{ AssignRoleform.username }}</el-tag>
      </el-form-item>
      <el-form-item label="角色列表">
        <el-select v-model="AssignRoleform.rid" placeholder="请选择分配角色">
          <el-option
            v-for="v in roleData"
            :key="v.id"
            :label="v.roleName"
            :value="v.id"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAssignRoleVisible = false">取 消</el-button>
      <el-button type="primary" @click="AssignRole">确 定</el-button>
    </div>
  </el-dialog>
</div>
